@model SST.Application.Students.Queries.GetStudents.StudentsListVm;
@{
	ViewData["Title"] = "Students Page";
}

<div class="container emp-profile">
	<br>
	<center><h1>Students</h1></center>
	<br>

	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="inputCity">FirstName</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group col-md-6">
			<label for="inputCity">LastName</label>
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-12">
			<label for="inputGroup">Group</label>
			<input type="text" class="form-control" placeholder="Group">
		</div>
	</div>
	<input class="btn btn-success" type="button"  value="ADD NEW"/>
	<br>
	<br>
	<div class="row mrgn-20">
		<h4>Students</h4>
	</div>
	<div class="row">
		<div class="col-lg-11 col-md-11 ml-auto mr-auto">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th>First name</th>
							<th>Last name</th>
							<th>Group</th>
							<th>E-mail</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@for (int i = 0; i < Model.Students.Count; ++i)
                        { 
							<tr>
								<td class="text-center">@(i+1)</td>
								<td>@Model.Students[i].FirstName</td>
								<td>@Model.Students[i].LastName</td>
								<td>@Model.Students[i].Group</td>
								<td>@Model.Students[i].Email</td>
								<td class="td-actions">
									<input class="btn btn-danger btn-just-icon btn-sm" type="button" 
										   id="admin-remove-student-@Model.Students[i].Id" value="REMOVE" />
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>