@model SST.WebUI.ViewModels.AdminStudentsModel;
@{
	Layout = "AdminLayout";
	ViewData["Title"] = "Students Page";
}

<div class="container emp-profile mrg-t-0">
	<hr />
	<center><h1>Students</h1></center>
	<hr />
	<br>
	<br>

	<div class="row">
		<div class="col-lg-11 col-md-11 ml-auto mr-auto">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr  class="tr-bg">
							<th class="text-center">#</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Group</th>
							<th>E-mail</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@for (int i = 0; i < Model.StudentsList.Students.Count; ++i)
                        { 
							<tr>
								<td class="text-center">@(i+1)</td>
								<td>@Model.StudentsList.Students[i].FirstName</td>
								<td>@Model.StudentsList.Students[i].LastName</td>
								<td>@Model.StudentsList.Students[i].Group</td>
								<td>@Model.StudentsList.Students[i].Email</td>
								<td class="td-actions">
									<input class="btn btn-danger btn-just-icon btn-sm" type="button" 
										   id="admin-remove-student-@Model.StudentsList.Students[i].Id" value="REMOVE" />
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<br />
	<br />
	<br />

	<div class="row">
		<div class="col-lg-11 col-md-11 ml-auto mr-auto">
			<form asp-action="AddLector" asp-controller="Admin" id="add-student-form">
				<div asp-validation-summary="All" class="mrgn-18 form-error"></div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label class="label-style">First Name</label>
						<input type="text" class="form-control" name="FirstName" placeholder="Enter the first name...">
					</div>
					<div class="form-group col-md-6">
						<label class="label-style">Last Name</label>
						<input type="text" class="form-control" name="LastName" placeholder="Enter the last name...">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label class="label-style">Group</label>
						<select class="custom-select" id="GroupSelectForStudent" name="GroupId">
							@foreach (var group in Model.GroupsList.Groups)
							{
								<option value="@group.Id">@group.Name</option>
							}
						</select>
					</div>
				</div>
				
				<input class="btn btn-success" type="submit" id="add-student-btn" value="ADD NEW" />
			</form>
		</div>
	</div>
</div>