@model SST.Application.Journal.Queries.JournalVm;

    <table class="table" id="st-grade-table">
        <thead>
            <tr class="tr-bg">
                <th class="text-center">Notes</th>
                <th></th>
                @foreach (var data in Model.Header)
                {
                    <th>@data.Note</th>
                }
                <th></th>
            </tr>

            <tr class="tr-bg">
                <th class="text-center">#</th>
                <th>Full name</th>
                @foreach (var data in Model.Header)
                {
                    <th>@data.Date.ToShortDateString()</th>
                }
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Journal.Count; i++)
            {
                @if (Model.Journal.Keys[i].FullName == Model.StudentFullName)
                {
                    <tr class="my-grades">
                        <td class="text-center">@(i + 1)</td>
                        <td>@Model.Journal.Keys[i].FullName</td>
                        @for (int j = 0; j < Model.Journal.Values[i].Row.Values.Count; j++)
                        {
                            @if (@Model.Journal.Values[i].Row.Values[j].Item2 != 0)
                            {
                                <td>@Model.Journal.Values[i].Row.Values[j].Item2</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        <td>@Model.Journal.Values[i].Total</td>
                    </tr>
                }
                else
                {
                    <tr class="classmates-grades">
                        <td class="text-center">@(i + 1)</td>
                        <td>@Model.Journal.Keys[i].FullName</td>
                        @for (int j = 0; j < Model.Journal.Values[i].Row.Values.Count; j++)
                        {
                            @if (@Model.Journal.Values[i].Row.Values[j].Item2 != 0)
                            {
                                <td>@Model.Journal.Values[i].Row.Values[j].Item2</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        <td>@Model.Journal.Values[i].Total</td>
                    </tr>
                }
            }
        </tbody>
    </table>